<div class="hero">
    <div class="container">
      <h1>Welcome to our website</h1>
      <p> This website availabe to all type of Movies ...</p>
    </div>
  </div>
  
  <!-- <section class="container content">
    <h2>content 1</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, animi sunt! Libero optio, asperiores quis ipsa eum eveniet labore nihil expedita nostrum laborum dicta at deleniti sapiente atque assumenda quo corrupti exercitationem animi minus nemo vero soluta alias perspiciatis! Aspernatur, laborum consectetur repellat repellendus aliquam sed. Cupiditate accusantium porro at quae, maxime itaque accusamus! Ipsam tempore, illo similique officia neque asperiores eveniet omnis rem veritatis cumque quos amet placeat dignissimos quisquam nesciunt quas. Adipisci perspiciatis veniam, voluptatibus dolores doloremque quisquam qui possimus, vero ab dolorum temporibus soluta libero similique assumenda debitis dolorem ut perferendis incidunt nobis facere eaque. Enim, nemo?</p>
    <h3>content 2</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, animi sunt! Libero optio, asperiores quis ipsa eum eveniet labore nihil expedita nostrum laborum dicta at deleniti sapiente atque assumenda quo corrupti exercitationem animi minus nemo vero soluta alias perspiciatis! Aspernatur, laborum consectetur repellat repellendus aliquam sed. Cupiditate accusantium porro at quae, maxime itaque accusamus! Ipsam tempore, illo similique officia neque asperiores eveniet omnis rem veritatis cumque quos amet placeat dignissimos quisquam nesciunt quas. Adipisci perspiciatis veniam, voluptatibus dolores doloremque quisquam qui possimus, vero ab dolorum temporibus soluta libero similique assumenda debitis dolorem ut perferendis incidunt nobis facere eaque. Enim, nemo?</p>
  </section> -->
  
  <section>
    <ul>
    
      <li class="card">
          <a 
             
              class="featured-image" 
              style="background-image:url('https://assets-prd.ignimgs.com/2023/12/17/migration-review-blogroll-1702843620076.jpg')">
          </a>
          <article class="card-body">
              <header>
                  <a>
                      <span class="pre-heading">Movie</span>
                      <div class="title">
                          <h3>MIGRATION</h3>
                      </div>
                      <p class="meta">
                          <span class="author">Utilidata</span>
                          <span> | </span>
                          <time class="updated" datetime="" itemprop="datePublished">FEBRUARY 4, 2024</time>
                      </p>
                      <p>
                        If there’s one film certain to make an easy billion at the 2024 box office it’s Despicable Me 4, the latest in Illumination’s six-feature-strong string of massive hits. Minions make money.
                      </p>
                  </a>
              </header>
              <div class="chips">
                  <a class="chip">Movie</a>
                  <a class="chip">English</a>
              </div>
          </article>
      </li>
          
      </ul>
  </section>
  <section>
    <ul>
    
      <li class="card">
          <a 
             
              class="featured-image" 
              style="background-image:url('https://assets-in.bmscdn.com/discovery-catalog/events/et00389463-skmnqubdtk-landscape.jpg')">
          </a>
          <article class="card-body">
              <header>
                  <a>
                      <span class="pre-heading">Movie</span>
                      <div class="title">
                          <h3>ALL OF US STRANGERS</h3>
                      </div>
                      <p class="meta">
                          <span class="author">Utilidata</span>
                          <span> | </span>
                          <time class="updated" datetime="" itemprop="datePublished">JANUARY 29, 2024</time>
                      </p>
                      <p>
                        The Sun seems perpetually ready to set in and upon All of Us Strangers, an achingly personal new romance by Lean on Pete director Andrew Haigh. 
                      </p>
                  </a>
              </header>
              <div class="chips">
                  <a class="chip">Movie</a>
                  <a class="chip">English</a>
              </div>
          </article>
      </li>
          
      </ul>
  </section>
   
   
   
   
   
   
   
   
   